:root {
    --red: #fa6262;
    --blue: #cae9f2;
    --bg-gray: #fbfbfb;
    --yellow: #fffacc;
    --green: #e2efc7;
    --pink: #efc7c7;
    --font-color: #000;
    --blue-solid: #a1dbed;
    --green-solid: #d4eda1;
    --bg-graydark: #2c3e50;
    --font-colordark: #fff;
    --darkmodeblue: #134c78;
    --darkmodegreen: #5b7428;
    --darkmodered: #ad4242;
    --darkmodeyellow: #918627;
    --bluedark: rgb(24, 110, 147);
    --greendark: rgb(66, 120, 66);
  }

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100vh;
    width: 100vw;  
    background-color: var(--bg-gray);
    color: var(--font-color);
} 

h2 {
    font-size: 24px;
    font-weight: 800;
}

p {
    font-size: 11px;
}

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
     color: #FA6262 ;
     font-size: 36px;
     font-weight: 800;
     margin-left: 50px;
     
}

nav h2 {
    display:flex;
    gap: 20px;
    padding-right: 55px;
}

nav h2 a {
    color:#000;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-right: 10px;
    text-decoration: none;
}

nav h2 a:hover {
    color: var(--red);
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    height: 90vh;
    width: 90vw;
    gap: 20px;
}

.container .left {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    height: 90vh;
    width: 45vw;
}

.container .right {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 90vh;
    width: 45vw;
}

.container .right h1 {
    font-size: 60px;
    font-weight: 800;
}

.container .right h1:hover{
    transform: scale(1.2);
    transition-duration: 0.2s;
}

.container .right p {
    font-size: 24px;
    font-weight: 400;
}

.container .left .card {
    box-shadow: 5px 5px 5px grey;
    background-color: #FBFBFB;
    height: 259px;
    width: 259px;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    padding: 5px;
    position: relative;
}

.card .tagbox {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}

.tagbox .gothenburg {
    background-color: #FFFACC;
    height: 23px;
    width: 94px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.tagbox .office {
    background-color: var(--blue-solid);
    height: 23px;
    width: 61px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.tagbox .animals {
    background-color: var(--green-solid);
    height: 23px;
    width: 61px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.tagbox .jobs {
    background-color: var(--green-solid);
    height: 23px;
    width: 52px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.tagbox .money {
    background-color: var(--pink);
    height: 23px;
    width: 61px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.tagbox p {
    font-size: 8px;
    font-weight: 800;
    font-family:monospace;
}

.buttons {
    width: 250px;
    height: 200px;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.buttonblue {
    width: 195px;
    height: 50px;
    background-color: var(--blue);
    border-radius: 20px;
    align-items: center;
    text-align: center;
    flex-direction: row;
    position: relative;
}

.buttonyellow {
    width: 195px;
    height: 50px;
    background-color:var(--green);
    border-radius: 20px;
    text-align: center;
    flex-direction: row;
    position: relative;
}

.right .buttons .buttonblue p {
    font-size: 15px;
    padding-right: 15px;
}

.right .buttons .buttonyellow p {
    font-size: 15px;
    padding-right: 15px;
}

.buttonarrow {
    display: flex;
    width: 25px;
    height: 25px;
    background-color: var(--red);
    border-radius: 10px 2px 10px 2px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 234px;
    left: 234px;
    box-shadow: 1px 2px 9px 3px grey;
}

.buttonarrow:hover {
    background-color: rgb(0, 0, 0);
}

.arrow-button-right {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: var(--blue-solid);
    border-radius:20px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 146px;
}

.arrow-button-rightyellow {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: var(--green-solid);
    border-radius:20px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 146px;
}

.arrow-button-right img {
    transform: scale(1.2);
}

.arrow-button-rightyellow:hover {
    background-color: rgb(66, 120, 66);
}

.arrow-button-right:hover {
    background-color: rgb(24, 110, 147);
}

@media (prefers-color-scheme: dark ){
    body {
        font-family: 'Poppins', sans-serif;
        margin: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 100vh;
        width: 100vw;
        background-color: var(--bg-graydark);
        color: var(--font-colordark);
    }
    
    h2 {
        font-size: 24px;
        font-weight: 800;
        color: var(--font-colordark);
    }
    
    p {
        font-size: 11px;
        color: var(--font-colordark);
    }

    .arrow-button-right {
        background-color: var(--bluedark);
    }

    .arrow-button-right:hover {
        background-color: var(--blue-solid);
    }

    .arrow-button-rightyellow {
        background-color: var(--greendark);
    }

    .arrow-button-rightyellow:hover {
        background-color: var(--green-solid);
    }

    .container .left .card {
        background-color: #537597;
        box-shadow: -4px 6px 20px 1px #13171a;
    }

    .buttonarrow {
        box-shadow: -4px 6px 20px 1px #13171a;
        background-color: var(--darkmodered);
    }

    .tagbox .gothenburg {
        background-color: var(--darkmodeyellow);
    }

    .tagbox .money {
        background-color: var(--darkmodered);
    }

    .tagbox .animals {
        background-color: var(--darkmodegreen);
    }

    .tagbox .office {
        background-color: var(--darkmodeblue);
    }

    .tagbox .jobs {
        background-color: var(--darkmodegreen);
    }

    .buttonblue {
        background-color: var(--darkmodeblue);
    }

    .buttonyellow {
        background-color: var(--darkmodegreen);
    }

    nav h2 a {
        color: var(--font-colordark);
    }

    .container .right h1:hover {
    transform: scale(1.2);
    transition-duration: 0.2s;
    color: var(--font-colordark);
    }
}

@media (max-width: 900px) {
    .container .right h1 {
        font-size: 35px;
        font-weight: 800;
    }
}

@media (max-width: 640px) {
    .container .right h1 {
        font-size: 30px;
        font-weight: 800;
    }

    .container .right p {
        font-size: 15px;
    }
}

@media (max-width: 391px) {
    .container .right h1 {
        font-size: 25px;
        font-weight: 800;
    }

    .container .left .card {
        width: 175px;
        height: 175px;
    }

  .container .left .card h2 {
        font-size: 15px;
    }

    .container .right p {
        font-size: 11px;
    }

    header h1 {
        color: #FA6262 ;
        font-size: 36px;
        font-weight: 800;
        margin-left: 15px;
        padding-top: 15px;
   }
   
   nav h2 {
       display:flex;
       gap: 10px;
       padding-left: 50px;
       padding-top: 30px;
   }
   
   nav h2 a {
       color:#000;
       font-family: 'Poppins', sans-serif;
       font-size: 20px;
       text-decoration: none;
   }

   .buttonarrow {
    display: flex;
    width: 25px;
    height: 25px;
    background-color: var(--red);
    border-radius: 10px 2px 10px 2px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 150px;
    left: 150px;
    box-shadow: 1px 2px 9px 3px grey;
    }

    .container .right h1:hover{
        transform: scale(1);
        transition-duration: 0.2s;
    }
}
